[Unit]
Description=Webfrontend for an A/V receiver
Documentation=http://ogris.de/ampcontrol/
Requires=local-fs.target
Conflicts=shutdown.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/ampcontrol.js
Restart=always
